# Servicios upstream
AUTH_SERVICE_URL=http://localhost:8001
AFILIADOS_SERVICE_URL=http://localhost:8002

# Aplicación
DEBUG=True

# CORS (lista JSON)
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
